.card {
    border-radius: 2px;
    height: auto;
    width: 300px;
    margin-bottom: 25px;
    background: rgb(184, 182, 182);
    box-shadow: 0 3px 6px rgb(80, 91, 102), 0 3px 6px rgb(80, 91, 102);
}

.card>.img-container {
    text-align: center;
    background: black;
}

.card>.img-container>img {
    height: 75%;
    width: 75%;
}